<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hue Controller</title>
  <link rel="stylesheet" href="../hue.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap">
</head>
<body>
  <main class="flex-container">
    <% const state = light.state %>
    <% const x = state.xy[0]; const y = state.xy[1] %>
    <% const [ r, g, b ] = xyToRgb(x, y, state.bri) %>
    <section class="detail-header">
      <h1 id="light-heading" data-id="<%= lightID %>"><%= light.name %></h1>
       <% if (!!state.on) { %>
          <button class="onoff-button on" id="onoff-button"><img src="../power.png" width="20px" height="20px"></button>
        <% } else {  %>
          <button class="onoff-button off" id="onoff-button"><img src="../power.png" width="20px" height="20px"></button>
        <% } %>
    </section>

    <section class="light-details">
      <label for="color-red">Red</label>
      <input type="range" id="color-red" class="color-range" name="color-red" min="0" max="254" value="<%= r %>">
      <label for="color-green">Green</label>
      <input type="range" id="color-green" class="color-range" name="color-green" min="0" max="254" value="<%= g %>">
      <label for="color-blue">Blue</label>
      <input type="range" id="color-blue" class="color-range" name="color-blue" min="0" max="254" value="<%= b %>">
      <label for="brightness">Brightness</label>
      <input type="range" id="brightness" name="brightness" min="0" max="254" value="<%= state.bri %>">
    </section>

    <section>
      <p>Current light color:</p>
      <div class="light-color-detail" id="light-color"style="background-color: <%= xyToHex(x, y, state.bri) %>"> </div>
    </section>

    <section>
      <a href="/">Return to main page</a>
    </section>
    
  </main>
  <script src="../hue_light.js"></script>
</body>
</html>